.clients {
  // .clients__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 479px) {
      flex-direction: column;
    }
  }

  // .clients__item
  &__item {
    margin-bottom: 30px;
  }

  // .clients__link

  &__link {
    min-height: 92px;
    min-width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    &:hover {
      color: var(--accent-color);
      border-color: var(--accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (max-width: 479px) {
      min-width: 100%;
    }
    @media screen and (min-width: 768px) {
      min-width: 226px;
    }
    @media screen and (min-width: 1200px) {
      min-width: 170px;
    }
  }

  // .clients__icon

  &__icon {
    fill: currentColor;
    &:hover {
      fill: var(--accent-color);
    }
  }
}
