.backdrop {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}
.modal {
  padding: 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 609px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    padding: 40px;
    width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
  // .modal__close-btn

  &__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: unset;
    &:hover {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  // .modal__header

  &__header {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }
}
.form {
  // .form__item

  &__item {
    margin-top: 4px;
    padding: 12px 32px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    &:hover {
      border-color: var(--accent-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      border-color: var(--accent-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (max-width: 1199px) {
      font-size: 14px;
    }
  }

  // .form__modal-icon

  &__modal-icon {
    fill: currentColor;
    &:hover {
      fill: var(--accent-color);
    }
  }

  // .form__policy

  &__policy {
    appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  // .form__policy-check

  &__policy-check {
    margin-right: 8px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  // .form__link

  &__link {
    text-decoration-line: underline;
    color: var(--accent-color);
  }

  // .form__modal-btn

  &__modal-btn {
    display: block;
    margin: 30px auto 0 auto;
    padding: 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #188ce8;
    }
    &:focus {
      background-color: #188ce8;
    }
  }
}
.form-field {
  margin-bottom: 10px;
  &--center {
    display: flex;
    justify-content: center;
  }
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: var(--sub-text-color);
  .form__modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    fill: var(--main-text-color);
  }
}
.comment {
  margin-bottom: 10px;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  color: var(--sub-text-color);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.form-policy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--sub-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form__item:hover + .form__modal-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label:focus-within .form__modal-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__policy:checked + .form__policy-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}
