.team {
  background: var(--light-bg);
  // .team__list

  &__list {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // .team__item

  &__item {
    padding: 0 15px;
  }

  // .team__img

  &__img {
    flex: 0 0 270px;
  }

  // .team__content

  &__content {
    padding: 30px 0;
    text-align: center;
    line-height: 1.2;
  }

  // .team__title

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  // .team__post

  &__post {
    font-size: 16px;
    color: var(--sub-text-color);
  }

  // .team__social-list

  &__social-list {
    margin: 16px 32px 0 32px;
    display: flex;
    justify-content: center;
  }

  // .team__social-link

  &__social-link {
    fill: var(--icon-color);
  }
}
.border {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
